{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <title>{% if request.path != '/' %}{% block title %}{% endblock %} | {% endif %}Work Calendar</title>
  {% block head %}{% endblock %}
  <script type="text/javascript">
    {% block js %}{% endblock %}
  </script>
</head>
<body>
<div class="container">
  <header>
    <!--<p class="site-name"><a href="{% url 'worksched:index' %}">Work Calendar</a></p>-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-bland mb-0 h3"><a id="nav-title" href="{% url 'worksched:index' %}">Work Calendar</a></span>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'worksched:setpattern' user.pk %}">Pattern Update</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'accounts:change-password' user.pk %}">Change Password</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link signup" href="{% url 'accounts:signup' %}">Sign up</a></li>
          <li class="nav-item"><a class="nav-link login"  href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </header>
  <div class="content">
    {% block contents %}{% endblock %}
  </div>
</div>
</body>
</html>
