{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

{% block title %}Schedule{% endblock %}

{% block head %}
  <meta>
  <link href="{% static 'css/fullcalendar.css' %}?ver=0.1.0" rel="stylesheet">
  <link href="{% static 'node_modules/@fullcalendar/core/main.min.css' %}" rel="stylesheet">
  <link href="{% static 'node_modules/@fullcalendar/daygrid/main.min.css' %}" rel="stylesheet">
  {{ domain|json_script:"domain" }}
  <script src="{% static 'js/workSched.js' %}?ver=0.1.0"></script>
  <script src="{% static 'node_modules/@fullcalendar/core/main.min.js' %}"></script>
  <script src="{% static 'node_modules/@fullcalendar/daygrid/main.min.js' %}"></script>
  <script>
    var calendar;
    var months = [
      'January', 'February', 'March', 'April', 'May', 'June',
      'July', 'August', 'September', 'October', 'November', 'December'
    ]
    var changes = {};
    var elem_sendChanges
    var elem_changesData
    document.addEventListener('DOMContentLoaded', function(){
      // DOMを取得
      var calendarEl = document.getElementById('calendar');
      // 指定DOMにカレンダープラグインを適用する
      calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid'],
        eventClick: rotate_workSched,
        //events: function(info, get_monthlyWorkSched, err_log) {
        //  get_monthlyWorkSched()
        //}
      });
      calendar.render();
      //addWorkSched(JSON.parse('{{workSched | safe}}'))
      get_monthlyWorkSched();

      //---- link function to sendChange button
      elem_sendChanges= document.getElementById("sendChangesForm")
      elem_changesData = document.getElementById("changes")
      elem_sendChanges.addEventListener('submit', e => {
        elem_changesData.value = JSON.stringify(changes)
      });
    });

    //---- called when press prev/next button
    var get_monthlyWorkSched = function() {
      //---- link function to new prev/next button
      document.getElementsByClassName('fc-prev-button')[0]
        .addEventListener('click', function(){get_monthlyWorkSched()})
      document.getElementsByClassName('fc-next-button')[0]
        .addEventListener('click', function(){get_monthlyWorkSched()})
      //---- renew events
      var date =
        document.getElementsByClassName('fc-left')[0].innerText.split(' ')
      for (e of calendar.getEvents()) {
        e.remove()
      }
      getWorkSched(date[1], months.indexOf(date[0])+1)
    }

  </script>
{% endblock %}

{% block contents %}
  <div id='calendar'></div>
  <br>
  <form action="" id="sendChangesForm" method="post" align="center">
    {% bootstrap_button "SAVE" button_class="btn-primary" %}
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" id="changes" name="changes">
    {% csrf_token %}
  </form>
{% endblock %}
