{% extends 'base.html' %}

{% block title %}Change Password | Scheduler{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<!--
<div class="container">
  <div class="row">
    <div class="my-div-style">
-->
      <h1>Change Password</h1>
      <section class="common-form" align="center">
        <form method="post">
          {% csrf_token %}
          <table align="center">
            {{ form.as_table  }}
          </table>
          <button class="submit" type="submit">SAVE</button>
        </form>
      </section>
<!--
    </div>
  </div>
</div>
-->
{% endblock %}
