{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Sign Up{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<!--
<div class="container">
  <div class="row">
    <div class="my-div-style">
-->
      <h1>Sing Up</h1>
      <section class="common-form">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form layout="horizontal" %}
          <div align="center">
          {% bootstrap_button "Sign Up" %}
          </div>
        </form>
      </section>
<!--
    </div>
  </div>
</div>
-->
{% endblock %}
