[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=vagrant
Group=vagrant
RuntimeDirectory=gunicorn
WorkingDirectory=/home/vagrant/dev/workScheder/Scheduler
ExecStart=/home/vagrant/dev/workScheder/.venv/bin/gunicorn \
          --pid /run/gunicorn/pid \
          --bind unix:/run/gunicorn.sock \
          --access-logfile logs/access.log \
          --error-logfile logs/error.log \
          Scheduler.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[INstall]
WantedBy=multi-user.target
